<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--引入properties文件，此后就可以在当前文件中使用${key}的方式访问value-->
    <properties resource="./jdbc.properties"/>

    <!--设置连接数据库的环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--引入映射文件-->
    <mappers>
        <!--<mapper resource="mappers/UserMapper.xml"/>-->

        <!--
            以包的方式引入映射文件，但是必须满足两个条件：
            1、mapper接口，和映射文件所在的包，必须一致
            2、mapper接口的名字和映射文件的名字必须一致
        -->
        <package name="com.learn.mybatis.mapper"/>
    </mappers>
</configuration>